#editSubmitBtn:disabled {
  background: #ccc; /* Change to your desired faded color */
  cursor: not-allowed;
  opacity: 0.7;
  filter: grayscale(80%);
}

.msb .navbar-nav li input[type="radio"]:checked + label{
  background-color: #355B11 !important;
  color: white !important;
  border-radius: 5px;
  padding: 10px; /* Add padding to both sides */
   box-sizing: border-box; /* Include padding in the width calculation */
   display: flex;
  align-items: center;
 
}
.msb .navbar-nav li label {
  text-decoration: none;
  padding: 10px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
  width: 150px;
}
 
.msb .navbar-nav li input[type="radio"] {
  display: none;
}

.msb .navbar-nav li label:hover {
  background-color: #f0f0f0;
  border-bottom: 3px solid #ffa600;
}
.msb .navbar-nav .fa {
  margin-right: 9px;  
} 
 
body {
    margin-top: 50px;
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: black;
   }
   .ic {
    font-size: 16px;
    margin-right: 5px;
    font-weight: 300px;
    display: inline-block;
  }
  
  .navbar-default {
     margin-left: 1150px;
    background: white !important;
     border: none !important;
 
   }
  
  /*main side bar*/
  .msb {
    width: 152px;
    background-color: white;
    position: fixed;
     left: 0;
     top: 0;
    min-height: 100%;
    overflow-y: auto;
    white-space: nowrap;
    overflow-wrap: break-word;
    height: 100%;
    z-index: 1;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
   
  }
  .nv {  
    li {
      display: block;
      position: relative;
      
      &::before {
        clear: both;
        content: "";      
        display: table;
      }
     
    }
 
  }

  /*main content wrapper*/
  .mcw {
    margin-left: 150px;
    position: relative;
    min-height: 50%;
    
    /*content view*/
    .cv {
      margin-top: 5rem;
      padding: 5px;
      padding-right: 20px;  
  padding-left: 20px; 
    }
  }
 