 .msb .navbar-nav li input[type="radio"]:checked+label {
   background-color: #355B11 !important;
   color: white !important;
   border-radius: 5px;
   padding: 10px;
   box-sizing: border-box;
   display: flex;
   align-items: center;

 }

 .msb .navbar-nav li label {
   text-decoration: none;
   padding: 10px;
   text-align: left;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   position: relative;
   cursor: pointer;
   width: 130px;
 }

 .msb .navbar-nav li {
   margin-left: 9px;
 }

 .msb .navbar-nav li input[type="radio"] {
   display: none;
 }


 .msb .navbar-nav li label:hover {
   background-color: #f0f0f0;
   border-bottom: 3px solid #ffa600;
 }

 .msb .navbar-nav .fa {
   margin-right: 9px;
 }

 .brand-name-wrapper {

   position: relative;
   left: 45px;
   padding: 2px;
 }


 .brand-name-wrapper:hover {
   border-bottom: 3px solid #ffa600;
 }

 body {
   margin-top: 50px;
   background-color: whitesmoke;
   font-family: Arial, sans-serif;
   font-size: 14px;
   letter-spacing: 0.01em;
   color: black;
 }

 .ic {
   font-size: 16px;
   margin-right: 5px;
   font-weight: 300px;
   display: inline-block;
 }

 .navbar-default {
   margin-left: 1150px;
   background: transparent !important;
   border: none !important;

 }

 /*main side bar*/
 .msb {
   width: 152px;
   background-color: white;
   position: fixed;
   left: 0;
   top: 0;
   min-height: 100%;
   overflow-y: auto;
   white-space: nowrap;
   overflow-wrap: break-word;
   z-index: 1;
   height: 100vh;
   box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);

 }


 .nv {
   li {
     display: block;
     position: relative;

     &::before {
       clear: both;
       content: "";
       display: table;
     }

   }

 }

 /*main content wrapper*/
 .mcw {
   margin-left: 150px;
   position: relative;
   min-height: 50%;

   /*content view*/
   .cv {
     margin-top: 6rem;
     padding: 5px;
     padding-right: 20px;
     padding-left: 20px;
   }
 }

 .createButton {
   background: #355B11;
   color: white;
   border: none;
   border-radius: 5px;
   padding: 5px 12px;
   font-weight: bold;
   letter-spacing: 1px;
   margin-bottom: 15px;
 }

 .pagination {
   display: flex;
   justify-content: flex-end;
   margin-top: 10px;
   font-size: 15px;
 }


 .pagination a {
   color: black;
   padding: 8px 8px;
   text-decoration: none;
   transition: background-color .3s;
   margin: 0 2px;
 }

 .pagination a.active {
   background-color: #355B11;
   color: white;
 }

 .pagination a:hover:not(.active) {
   background-color: #ddd;
 }

 input {
   outline: none;
   transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
 }

 .btn:hover {
   background-color: rgb(230, 176, 30);
 }

 a:visited {
   color: rgb(14 165 233);
 }

 body {
   background-color: rgb(51 65 85);
 }

 .container {
   background-color: #fff;
   max-height: 100%;
   max-width: 27rem;
   padding: 0.85rem;
   margin-right: auto;
   margin-left: auto;
   border-radius: 0.85rem;
   margin-top: 37px;
 }

 .container h1 {
   font-size: 30px;
   text-align: center;
   font-weight: bold;
 }

 .error-message {
   color: red;
   padding-bottom: 15px;
   text-align: center;
 }

 .login-form {
   display: flex;
   flex-direction: column;
   gap: 15px;
 }

 .input-field {
   background: #fff;
   color: #495057;
   border: 1px solid #afb1b4 rgba(129, 125, 125, .2);
   padding: 12px 18px;
   font-weight: 600;
   height: auto;
   border-radius: 2rem;
 }

 .btn-submit {
   border: none;
   background-color: rgb(51 65 85);
   color: white;
   padding: 0.75rem;
   border-radius: 2rem;
   text-transform: uppercase;
   cursor: pointer;
   margin-top: 18px;
 }

 .divider {
   margin-top: 1.5rem;
   margin-bottom: 1.5rem;
   border: 0.5px solid rgba(129, 125, 125, .2);
 }

 .forgot-password {
   color: rgb(14 165 233);
   margin-top: 5px;
   align-items: center;
   justify-content: center;
   gap: 15px;
   display: flex;
   text-decoration: none;
 }

 /* Styling for the spinner */
 #spinner {
   display: none;
   border: 4px solid rgba(0, 0, 0, 0.1);
   border-radius: 50%;
   border-top: 4px solid #3498db;
   width: 30px;
   height: 30px;
   animation: spin 1s linear infinite;
   margin: 0 auto;
   margin-top: 15px;
 }

 @keyframes spin {
   0% {
     transform: rotate(0deg);
   }

   100% {
     transform: rotate(360deg);
   }
 }

 .img-box {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   overflow: hidden;
   border: 3px solid white;
   flex-shrink: 0;
 }

 .img-box img {
   width: 100%;
 }


 .box:hover {
   background-color: #355B11;
   color: white;
 }

 .data-info {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 10px;

 }

 .box {
   background-color: #f0f0f0;
   height: 150px;
   flex-basis: 150px;
   flex-grow: 1;
   border-radius: 8px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   color: black;
   cursor: pointer;
 }

 .box i {
   font-size: 40px
 }

 .box .data {
   text-align: center;
 }

 .box .data span {
   font-size: 30px;
 }

 /* tree */
 .tree,
 .tree ul {
   margin: 0;
   padding: 0;
   list-style: none;

 }

 .tree ul {
   margin-left: 1em;
   position: relative;

 }

 .tree ul ul {
   margin-left: .5em;
 }

 .tree ul:before {
   content: "";
   display: block;
   width: 0;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   border-left: 1px solid #afb1b4;
 }

 .tree li {
   margin: 0;
   padding: 8px 1em;
   line-height: 2em;
   color: black;
   position: relative;
   cursor: pointer;

 }

 .tree-node {
   background-color: gainsboro;
   margin: auto;
   color: black;
   border-radius: 5px;
   padding: 8px;
   width: auto;
   text-align: center;
   align-items: center;
   cursor: pointer;
 }


 .tree-node:hover {
   background-color: #355B11;
   border-bottom: 3px solid #ffa600;
   color: whitesmoke;
 }

 .tree ul li:before {
   content: "";
   display: block;
   width: 10px;
   height: 0;
   border-top: 1px solid black;
   margin-top: -1px;
   position: absolute;
   top: 1em;
   left: 0;
 }

 .tree ul li:last-child:before {
   background: #fff;
   height: auto;
   top: 1em;
   bottom: 0;
 }

 .indicator {
   margin-right: 5px;
   background-color: black;
   color: white;
   height: 22px;
   width: 22px;
   border-radius: 5px;
   text-align: center;
   justify-items: center;
   align-items: center;
   padding: 3px;

 }

 .tree li a,
 .tree li button {
   text-decoration: none;
   color: black;
 }



 .tree .btn {
   text-decoration: none;
   color: teal;
   padding: 0;
   margin: 0;
   background: transparent;
   border: none;
   display: inline-block;
 }

 .tree .btn i {
   margin-right: 5px;
 }

 /* CARD CSS */

 .custom-flex-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
 }

 .custom-card {
   width: calc(25% - 20px);
   margin-bottom: 20px;
   border: 1px solid #ccc;
   border-radius: 5px;
   padding: 10px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
   transition: box-shadow 0.3s, transform 0.3s;
   /* Add transition for smoother effect */
 }

 .custom-card:hover {
   transform: scale(1.05);
 }

 .custom-card-header {
   background-color: #355b11;
   color: whitesmoke;
   padding: 5px 5px;
   border-radius: 5px;
   text-align: center;
 }

 .custom-card-body {
   padding: 10px;
 }

 .custom-card-footer {
   display: flex;
   justify-content: space-between;
   padding: 5px;
 }

 .custom-btn {
   padding: 5px 20px;
   cursor: pointer;
   border: none;
   border-radius: 3px;
 }

 .custom-btn-primary:hover {
   background-color: #ffa600;
 }

 .custom-btn-danger:hover {
   background-color: #dc3545;
   color: whitesmoke;
 }



 .starter-template {
   padding: 40px 15px;
   text-align: center;
 }

 a {
   color: #428bca;
 }

 a:hover {
   color: #D65C4F;
   text-decoration: none;
 }

 #notification-list {
   width: 300px;
   max-height: 400px;
   overflow-y: scroll;
 }

 .dropdown-menu>.panel {
   border: none;
   margin: -5px 0;
 }

 .panel-heading {
   background-color: #f1f1f1;
   border-bottom: 1px solid #dedede;
 }

 .activity-item i {
   float: left;
   margin-top: 3px;
   font-size: 16px;
 }

 div.activity {
   margin-left: 28px;
 }

 div.activity-item {
   padding: 7px 12px;
 }

 #notification-list div.activity-item {
   border-top: 1px solid #f5f5f5;
 }

 #notification-list div.activity-item a {
   font-weight: 600;
 }

 div.activity span {
   display: block;
   color: #999;
   font-size: 11px;
   line-height: 16px;
 }

 #notifications i.fa {
   font-size: 17px;
 }

 .noty_type_error * {
   font-weight: normal !important;
 }

 .noty_type_error a {
   font-weight: bold !important;
 }

 .noty_bar.noty_type_error a,
 .noty_bar.noty_type_error i {
   color: #fff
 }

 .noty_bar.noty_type_information a {
   color: #fff;
   font-weight: bold;
 }

 .noty_type_error div.activity span {
   color: #fff
 }

 .noty_type_information div.activity span {
   color: #fefefe
 }

 .no-notification {
   padding: 10px 5px;
   text-align: center;
 }

 .noty-manager-wrapper {
   position: relative;
   display: inline-block !important;
 }

 .noty-manager-bubble {
   position: absolute;
   top: -8px;
   background-color: #fb6b5b;
   color: #fff;
   padding: 2px 5px !important;
   font-size: 12px;
   line-height: 12px;
   text-align: center;
   white-space: nowrap;
   vertical-align: baseline;
   cursor: pointer;
   height: 15px;
   font-weight: bold;
   border-radius: 50%;
 }

 /* The side navigation menu */
 .sidenav {
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 1;
   top: 0;
   background-color: whitesmoke;
   overflow-x: hidden;
   border-left: 1px solid #dedede;
   box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
   padding-top: 60px;
   transition: 0.5s;
 }

 .sidenav a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 14px;
   color: black;
   display: block;
   transition: 0.3s;
   font-weight: bold;
   margin: 8px;
 }

 .sidenav a:hover,
 .offcanvas a:focus {
   background-color: #355B11;
   border-bottom: 3px solid #ffa600;
   border-radius: 5px;
   color: whitesmoke;
   margin: 8px;
 }

 .sidenav .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 21px;
   margin-left: 50px;
   background-color: transparent !important;
   border-bottom: none !important;
   color: black !important;
 }

 .menu-text {
   margin-left: 10px;
 }

 #main {
   transition: margin-left .5s;
   padding: 20px;
 }

 .sidenav {
   right: 0;
 }